.how-it-works
  color: $subColor
  min-height: 1057px
  &::before
    background-image: url('../images/dest/raindrops-second-type.svg')
    background-repeat: no-repeat
    background-size: cover
    background-position: 60px 50%
