.footer__app-links
  grid-area: app
  justify-self: end
  align-self: stretch
  display: flex
  flex-direction: column

@media all and ( max-width: 768px )
  .footer__app-links
    width: 100%
    justify-self: center
    flex-direction: row
    justify-content: center
